.nBg {
	background-color: #051643;
	background-image: url("../img/cargo_pic_8-1.jpg");
	opacity: 0.1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.abtIc {
	color: #102d5e;
}
.divPd {
	padding-bottom: 300px;
}
.clr {
	position: absolute;
	top: 69%;
}
.scl {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
}
.abtDes,
.abtTit {
	color: #454360;
	text-align: center;
	font-weight: 400;
}
.shape {
	position: relative;
}
.story {
	margin-top: 250px;
	margin-bottom: 300px;
}
.storyLb {
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	color: #454360;
}
.storyGap {
	margin-top: 70px;
	margin-bottom: 70px;
}
.storyDes {
	text-align: justify;
	font-size: 17px;
	color: #454360;
	font-weight: 500;
}
.youtube {
	height: 550px;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
	padding: 10px;
	background-color: white;
}
.ytbFit {
	position: relative;
	padding-bottom: 500px;
	background-color: #051643;
}
.btClr {
	position: absolute;
	width: auto;
}
.yt {
	position: absolute;
	top: -30%;
	width: 100%;
}
@media all and (max-width: 1030px) and (min-width: 360px) {
	.youtube {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		height: 500px;
	}
	.divPd {
		padding-bottom: 200px;
	}
	.clr {
		top: 90%;
	}
	.scl {
		top: 205%;
	}
	.story {
		margin-top: 63rem;
		margin-bottom: 300px;
	}
	.ytbFit {
		padding-bottom: 300px;
	}
	.yt{
		top: -50%;
	}
}
