body {
	background-color: white;
	overflow-x: hidden;
}
ul li a.active {
	color: white;
	background-color: #051643;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 30px;
	border-radius: 32px;
	margin-top: 5px;
}
.address {
	width: 92%;
}
.containerNav {
	width: 94%;
	margin: auto;
}
.social {
	color: #1e73be;
	font-size: 20px;
	font-weight: 400;
	line-height: 1;
	padding: 0px 6px;
}
.navbar {
	color: black;
	font-weight: 600;
}
.dotDiv {
	height: 4px;
	width: 5px;
	background-color: #ff9900;
}
.dotDiv2 {
	height: 4px;
	width: 100px;
	background-color: #ff9900;
}
.containerFluid,
.containerFluid2 {
	width: 75%;
	margin: auto;
}
.cardTitle {
	color: #102d5e;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
}
.cardDetails {
	font-size: 17px;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	font-weight: 600;
}
.cardDetail {
	font-size: 17px;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	font-weight: 600;
	text-align: left;
	font-weight: normal;
}
.card li {
	list-style: none;
	text-align: left;
	color: #454360;
	font-size: 15px;
	margin-left: 30px;
	font-weight: 700;
}
.card li i {
	line-height: 1;
	margin-right: 15px;
	color: #102d5e;
}
.btn1 {
	background-color: #0b7cac;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
}
.getStarted {
	background-color: #0b7cac;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%) inset;
	padding: 12px 25px;
	border: none;
}
.getStarted:hover {
	background: #0b7cac82;
	border-color: none;
}
.h2 {
	font-weight: 700;
}
.map {
	background-color: #051643;
	background-image: url("../img/worldmap.png");
	opacity: 0.094;
	/* transition: background 0.3s, border-radius 0.3s, opacity 0.3s; */
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}
.textDiv {
	color: white;
	position: absolute;
	top: 50%;
	left: 23%;
	transform: translate(-50%, -50%);
}
.textVideo {
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
.textBtn {
	margin-top: 30px;
	background-color: #0b7cac;
	color: white;
	font-weight: 700;
	font-size: 19px;
	padding: 10px 50px;
}
.map2 {
	background-color: #051643;
	background-image: url("../img/worldmap.png");
	background-repeat: no-repeat;
	background-size: fill;
	opacity: 0.04;
	/* transition: background 0.3s, border-radius 0.3s, opacity 0.3s; */
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}
.containerVideo {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 56.25%;
	height: 50%;
}

.responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

.pricingDiv {
	width: 100%;
	background-color: #051643;
	position: relative;
	padding-bottom: 100px;
}

.pr {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
}
.ch {
	font-size: 28px;
	font-weight: 500;
}
.cardPricing {
	border: 1px solid rgba(9, 9, 9, 0.1);
	box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%) inset;
}
.standardSh {
	position: relative;
	box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
	box-shadow: 25px 25px 40px 0px rgb(0 0 0 / 50%);
}
.standardOuter{
	top: 8%;
	left: 104%;
	transform: translate(-92%,0%);
	position: absolute;
}
.standardDiv{
	position: relative;
	height: 72px;
	width: 100px;
}
.standardStyle {
	position: absolute;
	background-color: #0b7cac;
	text-transform: uppercase;
	font-weight: 650;
	font-size: 16px;
	padding: 5px 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.standardStyle2 {
	position: absolute;
	width: 0;
	height: 0;
	border-bottom: 20px solid #0b719f;
	border-right: 20.5px solid transparent;
	text-transform: uppercase;
	font-size: 15px;
	top: 0%;
	left: 97%;
	transform: translate(-100%,-3%);
}
.icon {
	background-color: #0b7cac;
	position: relative;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transition: 0.5s;
}
.icon2 {
	background-color: #051643;
	position: relative;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transition: 0.5s;
}
.icon2 i{
	color: transparent;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: white;
}
.home {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.iconSize {
	font-size: 40px;
}
.pricingLabel {
	background-color: #0b7cac;
	width: 100%;
}
.pricingLabelStandard {
	background-color: #6ec1e4;
	width: 100%;
}
.packageName {
	padding-top: 20px;
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
}
.packageType {
	color: white;
	padding-bottom: 20px;
	font-size: 16px;
	text-transform: capitalize;
}
.currencyType {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
}
.rate {
	font-size: 24px;
	font-weight: 700;
}
.inWeight {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 400;
}

.list li {
	list-style: none;
	color: white;
	text-align: left;
	padding: 10px 15px;
	font-size: 14px;
}
.containerPricing {
	width: 90%;
	margin: auto;
}
.bottom {
	margin-top: 15px;
}
.bottomContainer {
	margin-top: 30px;
	margin-bottom: 70px;
}
.prHover {
	padding-top: 30px;
	padding-bottom: 30px;
}
.prHover:hover .icon {
	opacity: 40%;
}
.faqQ {
	background-color: #051643;
	cursor: pointer;
	position: relative;
}
.faqQ .btn {
	color: white;
	font-size: 20px;
	font-weight: 600;
	padding: 20px 40px;
	text-align: left;
}

.angle {
	position: absolute;
	top: 40%;
	left: 96%;
	transform: translate(-50%, -50%);
}
.p {
	color: #454360;
	font-size: 17px;
	font-weight: 600;
	padding: 20px 40px;
}
.btn-link:hover {
	text-decoration: none;
	color: white;
}
.faqCont {
	width: 92%;
}
.wh {
	position: relative;
	width: 100%;
	margin-top: 100px;
}
.borderDiv,
.borderDiv2 {
	width: 50%;
	background-color: #051643;
	height: 400px;
}
.borderDiv {
	border-top-right-radius: 25px 50px;
	text-align: right;
}
.borderDiv2 {
	border-top-left-radius: 25px 50px;
	text-align: left;
}
.bT {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.des {
	color: white;
	font-size: 40px;
	width: 100%;
	font-weight: 700;
	position: absolute;
	top: 45%;
	left: 62%;
	transform: translate(-50%, -50%);
}
.lastL li {
	padding: 5px 10px;
}
ul {
	padding: 0;
}

.an li {
	font-weight: normal !important;
}
.faDv {
	width: 75%;
}
.faIcon {
	font-size: 54px;
	color: #051643;
}
.faIcon2 {
	font-size: 40px !important;
	font-weight: 900;
}
.faIcon3 {
	margin-top: -8px;
	font-size: 17px;
}
.checked {
	color: orange;
}
.roundedCard {
	position: relative;
	border-radius: 12px;
}
.rI {
	position: absolute;
	top: -2%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #051643;
}
.rNm {
	font-size: 16.5px;
	font-weight: 700;
}
.dTail {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #051643;
	margin-top: 20px;
}
.dTails {
	width: 90%;
	margin: auto;
}
.nR {
	font-size: 19px;
	font-weight: 400;
}
.pN {
	font-size: 30px;
	font-weight: 700;
}
.fI {
	font-size: 28px;
	padding: 0px 15px;
}
.oA {
	font-size: 20px;
	font-weight: 600;
	text-align: right;
}
.oD {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1.5px;
	text-align: right;
}
.footer {
	background-color: #f0f3f4;
	padding-top: 40px;
	padding-bottom: 20px;
}
.b1 {
	border-width: 0 0 0 3px;
	border-style: solid;
	border-color: #13aff0;
	padding-left: 15px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1.5px;
}
.fL {
	list-style: none;
}
.fL a {
	text-decoration: none;
	color: #454360;
}
.fl a:hover {
	color: #0b7cac;
}
.fIP {
	padding: 10px 0px;
}
.fII {
	color: #13aff0;
	font-size: 15px;
	padding: 10px 15px;
	border: 1px solid #13aff0;
}
.fTT {
	font-size: 14px;
	font-weight: 800;
}
.fAdd {
	font-size: 13px;
	letter-spacing: normal !important;
}
.cR {
	font-size: 12px;
	padding-top: 50px;
}
.li-icon i {
	background-color: transparent;
	font-size: 25px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #1e73be;
}
.ppRc {
	padding-left: 70px;
	padding-right: 70px;
}

@media all and (max-width: 1030px) and (min-width: 360px) {
	.address {
		margin-left: -100%;
	}
	.containerNav {
		width: 100%;
	}
	.navbar {
		margin-top: -60px;
	}
	.mediaFlex {
		margin-bottom: 2rem;
	}
	.pricingDiv {
		width: 100%;
	}

	.textDiv {
		left: 50%;
	}
	.textVideo {
		width: 50%;
		font-size: 14px;
	}
	.textBtn {
		font-size: 11px;
		padding: 10px 30px;
	}
	.ch {
		font-size: 24px;
	}
	.labFaq {
		font-size: 16px;
	}
	.faqCont {
		width: 100%;
	}
	.des {
		text-align: center;
		width: 100%;
		font-size: 20px;
		top: 40%;
		left: 50%;
	}
	.bT {
		top: 60%;
		font-size: 15px;
	}
	.borderDiv,
	.borderDiv2 {
		height: 370px;
	}
	.containerFluid2 {
		width: 100%;
	}
	.containerFluid {
		width: 100%;
	}
	.angle {
		top: 25%;
		left: 95%;
	}
	.dTails {
		width: 100%;
	}
	.oD,
	.oA {
		text-align: center;
	}
	.ppRc {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media all and (max-width: 380px) {
	.navbar {
		margin-top: -80px !important;
	}
	/* .standardStyle {
		left: 91%;
	} */
}
/* @media all and (max-width: 768px) {
	.navbar {
		margin-top: -40px !important;
	}
	.standardStyle {
		left: 96.4% !important;
	}
	.standardStyle2 {
		left: 101.5% !important;
	}
} */
/* iphone 6 */
@media all and (max-width: 376px) {
	.navbar {
		margin-top: -80px !important;
	}
}
/* @media all and (max-width: 360px) {
	.standardStyle2 {
		left: 103%;
	}
} */
/* xs max */
/* @media all and (max-width: 414px) {
	.standardStyle{
		top: 8.8%;
	}
} */
/* @media (orientation: landscape){} */